<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img class="img-logo" src="img/logo.png">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </nav>

    <div class="container justify-content-md-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-principal">
                    <div class="card-body">
                        <h2 class="card-title"><strong>DIA DE MASSAGEM</strong></h2>
                        <hr>
                        <p class="card-text">Relaxe sua tensão de uma catolica e respeitosa.</p>
                        <br>
                        <small>Sexta a partir das 14:00</small>
                        <br>
                        <br>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">Acesse Aqui</button>
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLabel">Dia de Massagem</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="container">
                                        <div class="modal-body">
                                            <p>Relaxe sua tensão de uma forma catolica e respeitosa.</p>
                                            <ul class="container">
                                                <li>Alyne</li>
                                                <li>Eduardo</li>
                                                <li>Carol</li>
                                                <li>Otto</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Entrar na fila</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card borda-card" style="margin-left: 50px;">
                    <div class="card-body">
                        <h2 class="card-title">FIFA MASTERS</h2>
                        <hr>
                        <p class="card-text">Todos os dias tem fila!</p>
                        <br>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">Acesse Aqui</button>
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLabel">Fifa Masters</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Todos os dias tem fila.</p>
                                        <ul class="container">
                                            <li>Alyne</li>
                                            <li>Eduardo</li>
                                            <li>Carol</li>
                                            <li>Otto</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Entrar na Fila</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="card borda-card">
                    <div class="card-body">
                        <h5 class="card-title">MAGIC: THE GATHERING - PARTY</h5>
                        <p class="card-text">Outro evento emocionante!</p>
                        <br>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">Acesse Aqui</button>
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLabel">Dia de Massagem</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Seu proximo evento.</p>
                                        <ul class="container">
                                            <li>Alyne</li>
                                            <li>Eduardo</li>
                                            <li>Carol</li>
                                            <li>Otto</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Entrar na fila</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card borda-card" style="margin-left: 50px;">
                    <div class="card-body">
                        <div class="ultimo-card">+</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('Nova mensagem para ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>
</body>

</html>